<app-menugeral></app-menugeral>

<div class="container mt-4 mb-4">
    <h1 class="display-4">Perfil</h1>
</div>
<!--Body-->
<div class="container mt-4 mb-4">
    <h6>Dados pessoais</h6>
    <form>
        <div class="row">
            <div class="col-8">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">Utilizador</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Primeiro nome">
                    <input type="text" class="form-control" placeholder="Último nome">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">Morada</span>
                    </div>
                    <textarea type="text" class="form-control"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">C. Postal</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Indique o seu Código Postal">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">Telemóvel</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Indique o seu nº de Telemóvel">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">e-mail</span>
                    </div>
                    <input type="email" class="form-control" placeholder="Indique o seu endeço de e-mail">
                </div>
                <h6 class="mt-4">Dados de acesso: <strong>jsantos</strong></h6>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white justify-content-end" style="width:121.83px">Palavra-passe</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Indique a sua palavra-passe">
                    <input type="password" class="form-control" placeholder="Confirme a sua palavra-passe">
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width:100%;">
                    <img class="card-img-top" src="../../assets/images/foto1.png" alt="card image">
                    <div class="card-body">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolha a fotografia</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-rodape></app-rodape>