<app-menugeral></app-menugeral>

<div id="Carousel" class="carousel slide" data-ride="carousel">
    <!--Indicadores-->
    <ul class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
        <li data-target="#Carousel" data-slide-to="3"></li>
    </ul>

    <!-- Imagens -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/slide1.png" alt="imagem1" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/slide2.png" alt="imagem2" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/slide3.png" alt="imagem3" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/slide4.png" alt="imagem4" style="width:100%">
        </div>
    </div>

    <!-- controlos de esquerda e direita -->
    <a class="carousel-control-prev" href="#Carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#Carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DzF_UvNlmRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <h1 class="display-4">Novidades</h1>
            <p style="text-align: justify;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis eum qui quaerat est reprehenderit, mollitia dolores voluptatum, sed repellat quo, labore ducimus modi dolorem voluptatem adipisci perferendis dolor odit cupiditate!
                Sunt cum, distinctio maiores reprehenderit modi sequi iure quasi porro itaque hic, maxime aliquid earum nesciunt aperiam nobis et culpa doloribus natus laboriosam facilis quam, consequatur illo provident. Vero, perspiciatis.
            </p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <a href="/montraprodutos"><img src="../../assets/images/circle1b.png" class="rounded float-left" style="width:200px;"></a>
    <a href="/montraprodutos"><img src="../../assets/images/circle3b.png" class="rounded float-right" style="width:200px;"></a>
    <a href="/montraprodutos"><img src="../../assets/images/circle2b.png" class="rounded mx-auto d-block" style="width:200px;"></a>
</div>

<app-rodape></app-rodape>