<div class="container-fluid" style="position:absolute;top:50%;margin-top:-178.78px">
    <div class="card mx-auto" style="width:100%;min-width:420px;max-width:420px;">
        <img class="card-img-top" src="../../assets/images/Logo.png" alt="card image">
        <h1 class="display-4 ml-3 mt-3" style="font-size:20pt;">Recupera a tua palavra-passe</h1>
        <div class="card-body">
            <form class="needs-validation" novalidate action="enviarmailrecuperacao" method="post">
                <div class="form-group mb-4">
                    <label for="username">e-mail: *</label>
                    <input type="email" name="email" class="form-control" placeholder="Indica o teu endereço de e-mail" id="username" required>
                    <div class="valid-feedback">Válido</div>
                    <div class="invalid-feedback">Por favor, preenche este campo.</div>
                </div>
                <div class="mt-4" style="text-align:right">
                    <a  class="btn btn-secondary text-white" href="/">Voltar</a>&nbsp;
                    <button type="submit" class="btn btn-dark text-white">Recuperar</button>
                </div>
            </form>
        </div>
    </div>
</div>
